.friends {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 100px 1fr;
}

h1 {
    grid-row: 1;
    grid-column: auto;
    text-align: center;
    font-size: 50px;
    color: white;
}

.friend {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


.friend img {
    padding-top: 15px;
    height: 60px;
}

.friend a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}





